@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  user-select: none;
}
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:active {
  outline: none !important;
  box-shadow: none !important;
}

a {
  -webkit-tap-highlight-color: transparent; /* Menghilangkan efek highlight pada perangkat mobile */
}
img {
    user-drag: none; /* Mencegah drag */
    pointer-events: none; /* Mencegah event default seperti klik */
  }

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:active {
  outline: none !important;
  box-shadow: none !important;
}

button {
  -webkit-tap-highlight-color: transparent; /* Menghilangkan efek highlight pada perangkat mobile */
}
:root{
  /*dark*/
  --text-color: #edf3ff;
  --subheading-color: #97a7ca;
  --placeholder-color: #c3cdde;
  --primary-color: #101623;
  --secondary-color: #283045;
  --secondary-hover-color: #333e58;
  --scrollbar-color: #626a7f;
}

body.light-theme{
--text-color: #090c13;
 --subheading-color: #7b8cae;
 --placeholder-color: #606982;
 --primary-color: #f3f7ff;
 --secondary-color: #dce6f9;
 --secondary-hover-color: #d2ddf2;

--scrollbar-color: #a2aac2;
}


.bot-controls {
  display: flex;
  justify-content: flex-start; /* Tombol-tombol diletakkan secara horizontal */
  gap: 5px;
  margin-right: auto;
  margin-top: 10px;
}

.bot-controls button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.bot-controls button:hover {
  background: #ddd;
}

.bot-controls .material-symbols-rounded {
  font-size: 24px;
}
body{
  background: var(--primary-color);
  color: var(--text-color);
}
.container{
  padding: 32px 0 60px;
  overflow-y: auto;
  max-height: calc(100vh - 127px);
  scrollbar-color: var(--scrollbar-color) transparent;
}
.container :where(.app-header, .suggestions, .message, .prompt-wrapper, .disclaimer-text){
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 980px;
}
.container .app-header{
  margin-top: 4vh;
}
.app-header .heading{
  font-size: 2.5rem;
  width: fit-content;
  background: linear-gradient(to right, #81D4FA, #0D47A1, #8E24AA, #BA68C8); -webkit-background-clip: text; color: transparent; background-size: 400% 400%; animation: gradientAnimation 5s ease infinite;
}
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
.app-header .sub-heading{
  font-size: 2rem;
  margin-top: -5px;
  color: var(--subheading-color);
}

/*suggestions*/
.container .suggestions{
  display: flex;
  gap: 15px;
  
  margin-top: 9.5vh;
  list-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}
body.chats-active .container :where(.app-header, .suggestions){
  display: none;
}
.suggestions .suggestions-item{
  padding: 18px;
  width: 220px;
  border-radius: 12px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
  background: var(--secondary-color);
  transition: 0.5s ease;
}
.suggestions-item:focus,
.suggestions-item:active {
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Menghilangkan efek biru di mobile */
}
.suggestions .suggestions-item:hover{
background: var(--secondary-hover-color);
}
.suggestions .suggestions-item .text{
  font-size: 1.1rem;
}
.suggestions .suggestions-item span{
  height: 45px;
  width: 45px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 50%;
  align-self: flex-end;
  color: #1d7efd;
}
.suggestions .suggestions-item:nth-child(1) span {
  color: #ff9800; /* Orange */
}

.suggestions .suggestions-item:nth-child(2) span {
  color: red;
}

.suggestions .suggestions-item:nth-child(3) span {
  color: cadetblue;
}

.suggestions .suggestions-item:nth-child(4) span {
  color: #4caf50; /* Green */
}

.suggestions .suggestions-item:nth-child(5) span {
  color: #ff5722; /* Deep Orange */
}

.suggestions .suggestions-item:nth-child(6) span {
  color: #673ab7; /* Deep Purple */
}

.suggestions .suggestions-item:nth-child(7) span {
  color: #e91e63; /* Pink */
}

.suggestions .suggestions-item:nth-child(8) span {
  color: #03a9f4; /* Light Blue */
}

.suggestions .suggestions-item:nth-child(9) span {
  color: #009688; /* Teal */
}

.suggestions .suggestions-item:nth-child(10) span {
  color: #ffeb3b; /* Yellow */
}

.suggestions .suggestions-item:nth-child(11) span {
  color: #795548; /* Brown */
}

.suggestions .suggestions-item:nth-child(12) span {
  color: #f44336; /* Red */
}

.suggestions .suggestions-item:nth-child(13) span {
  color: #8bc34a; /* Light Green */
}

.suggestions .suggestions-item:nth-child(14) span {
  color: #3f51b5; /* Indigo */
}

.suggestions .suggestions-item:nth-child(15) span {
  color: #ff9800; /* Orange */
}

.suggestions .suggestions-item:nth-child(16) span {
  color: #9c27b0; /* Purple */
}

.suggestions .suggestions-item:nth-child(17) span {
  color: #cddc39; /* Lime */
}

.suggestions .suggestions-item:nth-child(18) span {
  color: #607d8b; /* Blue Gray */
}

.suggestions .suggestions-item:nth-child(19) span {
  color: #ff5722; /* Deep Orange */
}

.suggestions .suggestions-item:nth-child(20) span {
  color: #00bcd4; /* Cyan */
}

.suggestions .suggestions-item:nth-child(21) span {
  color: #4caf50; /* Green */
}

.suggestions .suggestions-item:nth-child(22) span {
  color: #ffc107; /* Amber */
}

.suggestions .suggestions-item:nth-child(23) span {
  color: #ffeb3b; /* Yellow */
}

.suggestions .suggestions-item:nth-child(24) span {
  color: #cddc39; /* Lime */
}

.suggestions .suggestions-item:nth-child(25) span {
  color: #673ab7; /* Deep Purple */
}
/*chat container*/
.container .chats-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chats-container .message{
  display: flex;
  gap: 10px;
  align-items: center;
}
.chats-container .message .message-text{
  padding: 7px 5px;
  word-wrap: break-word;
  white-space: pre-line;
}
.chats-container .bot-message .avatar{
  height: 33px;
  width: 33px;
  flex-shrink: 0;
  padding: 0px;
  margin-left: -5px;
  align-self: flex-start;
  border-radius: 50%;
  
  border: 1px solid var(--secondary-hover-color);
}
.chats-container .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chats-container .bot-message{
  margin: 9px auto;
}
.chats-container .user-message .message-text{
  padding: 10px 16px;
  max-width: 75%;
  border-radius: 13px 13px 13px 13px;
  background: var(--secondary-color);
}
.chats-container .bot-message.loading .avatar{
  animation: heartbeat 0.8s linear infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.chats-container .user-message .img-attachment{
  width: 50%;
  margin-top: -7px;
  border-radius: 13px 13px 13px 13px;
}

.chats-container .user-message .file-attachment{
  display: flex;
  gap: 6px;
  padding: 10px;
  align-items: center;
  background: var(--secondary-color);
  margin-top: -7px;
  border-radius: 13px 13px 13px 13px;
}
.chats-container .user-message .file-attachment span{
  color: #1d7efd;
}
/* prompt*/

.prompt-container{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background: var(--primary-color);
}
.prompt-container :where(.prompt-wrapper, .prompt-form, .prompt-actions){
  display: flex;
  gap: 12px;
  align-items: center;
  height: 50px;
}
.prompt-wrapper .prompt-form{
  width: 100%;
  border-radius: 130px;
  height: 100%;
  background: var(--secondary-color);
}
.prompt-form .prompt-input{
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  padding-left: 24px;
  color: var(--text-color);
}
.prompt-form .prompt-input::placeholder{
  color: var(--placeholder-color);
}
.prompt-wrapper button{
  width: 56px;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.4rem;
  flex-shrink: 0;
  color: var(--text-color);
  transition: 0.5s ease;
  background: var(--secondary-color);
}
#delete-chats-btn{
  width: 46px;
  
  height: 46px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.4rem;
  flex-shrink: 0;
  color: var(--text-color);
  transition: 0.5s ease;
  background: var(--secondary-color);
}
.prompt-wrapper :is(button:hover, .file-icon, #cancel-file-btn){
  background: var(--secondary-hover-color);
}
.prompt-form #send-prompt-btn:hover{
  background: #0264e3;
}
.prompt-form .prompt-actions{
  gap: 5px;
  margin-right: 7px;
}
.prompt-wrapper  .prompt-form :where(.file-upload-wrapper, button, img){
  height: 45px;
  width: 45px;
  position: relative;
}
.prompt-form #send-prompt-btn{
  color: white;
  background: linear-gradient(to right, #1d7efd, #8f6fff);
  display: none;
}
.prompt-form .file-upload-wrapper :where(button, img){
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
.prompt-form .file-upload-wrapper #add-file-btn,
.prompt-form .file-upload-wrapper.active.img-attached img,
.prompt-form .file-upload-wrapper.active.file-attached .file-icon,
.prompt-form .file-upload-wrapper.active:hover #cancel-file-btn{
  display: block;
}
.prompt-form .file-upload-wrapper.active #add-file-btn{
  display: none;
}
.prompt-form :is(#cancel-file-btn, #stop-response-btn:hover){
  color: red;
}
.prompt-form #stop-response-btn,
body.bot-responding .prompt-form .file-upload-wrapper{
  display: none;
 
}
body.bot-responding .prompt-form #stop-response-btn{
  display: block;
}
.prompt-form .file-icon{
  color: #1d7efd;
}
.prompt-form .prompt-input:valid ~ .prompt-actions #send-prompt-btn{
  display: block;
  transition: 0.5s ease;
}
.prompt-container .disclaimer-text{
  text-align: center; 
  font-size: 0.7rem;
  padding: 16px 20px 0;
  color: var(--placeholder-color);
}
@media (max-width: 768px) {
  .container {

padding: 20px 0 100px;
}

.app-header:is(.heading, sub-heading){
font-size: 0.5rem;

line-height: 1.4;
 }

.prompt-form.file-upload-wrapper.active #cancel-file-btn {


opacity: 0;
}
  .prompt-wrapper.hide-controls :where(#theme-toggle-btn, #delete-chats-btn) {
    
    display: none;
    
 }
}